.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-avatar-image {
    width: 250px;
    height: 250px;
}

.user-avatar-name {
    margin-top: 0;
}

.user-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}